{% load static %}
<!--CSSを追加したことをHTMLテンプレートに教える-->
<html>
    <!--コンテンツはhtmlタグの中に書く.-->
    <head>
        <title>My Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <!--この上二つはBootstrapをインストールするためのもの-->
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <!--Lobster というフォントをGoogle Fontsから読み込む-->
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <!--headの中身は本文中に記載されない-->
    <!--bodyの中身は文章中に表示される.-->
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
               <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
           {% endif %}
           <!--管理者でログインしているユーザーのみに投稿作成のリンクを表示する-->
            <h1><a href="/">Welcome to My Blog</a></h1>
            <!--最も重要性の高い見出し.ヘッダー.-->
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                   {% block content %}
                   {% endblock %}
                </div>
            </div>
        </div>

    </body>
</html>