{% extends 'blog/base.html' %}
<!--テンプレートbase.htmlを拡張する-->

{% block content %}
    {% for post in posts %}
    <div class="post">
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <!--""の中はテンプレートpost_detail(投稿の詳細ページ)へのリンク先-->
        <!--<h2>は<h1>の次に重要性の高い見出し.サブヘッダー.-->
        <p>{{ post.text|linebreaksbr }}</p>
         <!--<p></p>で囲まれたところが一つの段落-->            
        <div class="date">
            publish:{{post.published_date}}
        </div>
        <!--<div>はページ内のセクションを定義.-->        
    </div>
    {% endfor %}
{% endblock %}