<html>
    <head>
        <title>My Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Welcome to My Blog</a></h1>
        </div>

        <div>
            <p>published: 29.12.2018, 18:00</p>
            <h2><a href="">My first Post</a></h2>
            <p>こんにちは！ よろしくお願いします. </p>
        </div>

        <div>
            <p>公開日: 2018/12/29, 18:00</p>
            <h2><a href="">My Second Post</a></h2>
            <p> こんにちは！ よろしくお願いします！ </p>
        </div>
    </body>
</html>