<html>
    <!--コンテンツはhtmlタグの中に書く.-->
    <head>
        <title>My Blog</title>
    </head>
    <!--headの中身は本文中に記載されない-->
    <!--bodyの中身は文章中に表示される.-->
    <body>
        <div>
            <h1><a href="/">Welcome to My Blog</a></h1>
            <!--最も重要性の高い見出し.ヘッダー.-->
        </div>

        <div>
            <p>公開日: 2018/12/29, 18:00</p>
            <!--<p></p>で囲まれたところが一つの段落-->
            <h2><a href="">My First Post</a></h2>
            <h2>は次に重要性の高い見出し.サブヘッダー.
            <p> こんにちは！ よろしくお願いします！ </p>
        </div>
        
            <div>
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>

        <div>
            <p>公開日: 2018/12/29, 18:00</p>
            <h2><a href="">My Second Post</a></h2>
            <p> こんにちは！ よろしくお願いします！ </p>
        </div>
        <!--<div>はページ内のセクションを定義.-->
    </body>
</html>